body{
    background-color: rgb(2,4,35);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}



h1{
  font-family: helvetica, arial, sans-serif;
  width: 100%; 
  font-size: 100px;
  color: white;
  text-align: center;
  position: absolute;
   top: 10%;
  /* left: 0;
  right: 0;  */
  transform: translate3d(0,-50%,0);
  margin: 0;
  background: url('http://i.giphy.com/VQ2XbYu2ITUbK.gif');
  background-size: cover;
  background-repeat: norepeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#searchdiv{
  padding: 40px;
  padding-top: 140px;
}